.footer-area .footer-main-wrapper {
    background: #2d373c;
    padding-top: 80px;
    position: relative;
    z-index: 1
}

.footer-area .footer-main-wrapper .footer-vactor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    z-index: -1
}

.footer-area .footer-main-wrapper .footer-vactor img {
    max-width: 100%
}

.footer-area .footer-main-wrapper .footer-about {
    color: #fff
}

.footer-area .footer-main-wrapper .footer-about p {
    font-size: 16px;
    line-height: 30px;
    color: #fff
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap {
    padding-top: 35px
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap h5 {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    font-family: var(--f-secondary)
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links li {
    margin-right: 20px;
    margin-top: 10px
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links li:last-child {
    margin-right: 0
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links li a {
    display: inline-flex;
    width: 37.5px;
    height: 37.5px;
    background: #ff4838;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .06);
    border-radius: 34px;
    border: 1px solid #ff4838;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .35s
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links li a:hover {
    background: 0 0;
    color: #ff4838
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links li a:hover i {
    transform: scale(1.05)
}

.footer-area .footer-main-wrapper .footer-about .footer-social-wrap .footer-social-links li a i {
    font-size: 17px;
    transition: .35s
}

.footer-area .footer-main-wrapper .footer-widget {
    color: #fff
}

.footer-area .footer-main-wrapper .footer-widget .footer-widget-title {
    font-family: var(--f-primary);
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    padding-bottom: 5px
}

.footer-area .footer-main-wrapper .footer-widget .footer-links li {
    padding-top: 12px
}

.footer-area .footer-main-wrapper .footer-widget .footer-links li a {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .02em;
    color: #fff;
    position: relative;
    transition: all .35s
}

.footer-area .footer-main-wrapper .footer-widget .footer-links li a:hover {
    transform: translateX(14px)
}

.footer-area .footer-main-wrapper .footer-widget .footer-links li a:hover::before {
    opacity: 1
}

.footer-area .footer-main-wrapper .footer-widget .footer-links li a::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
    height: 5px;
    width: 5px;
    background: #ff4838;
    border-radius: 50%;
    opacity: 0;
    transition: all .35s
}

.footer-area .footer-main-wrapper .footer-widget .footer-gallary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 15px
}

.footer-area .footer-main-wrapper .footer-widget .footer-gallary-grid .footer-gallary-item img {
    width: 100%;
    border-radius: 4px
}

.footer-area .footer-contact-wrapper {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, .2)
}

.footer-area .footer-contact-wrapper h5 {
    font-weight: 700;
    font-size: 25px;
    color: #fff
}

.footer-area .footer-contact-wrapper .footer-contact-list {
    display: flex;
    flex-wrap: wrap
}

.footer-area .footer-contact-wrapper .footer-contact-list li {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 60px;
    font-weight: 600;
    font-size: 20px;
    color: #fff
}

.footer-area .footer-contact-wrapper .footer-contact-list li:last-child {
    margin-right: 0
}

.footer-area .footer-contact-wrapper .footer-contact-list li i {
    margin-right: 5px
}

.footer-area .footer-contact-wrapper .footer-contact-list li a {
    color: inherit
}

.footer-area .footer-bottom {
    background: #162b32;
    color: #fff;
    padding: 13px 0
}

.footer-area .footer-bottom .footer-logo {
    padding: 10px 0
}

.footer-area .footer-bottom .copyright-link {
    padding: 10px 0
}

.footer-area .footer-bottom .copyright-link p {
    font-size: 14px;
    color: #fff
}

.footer-area .footer-bottom .copyright-link p a {
    color: inherit
}

.footer-area .footer-bottom .policy-links .policy-list {
    display: flex;
    padding: 10px 0
}

.footer-area .footer-bottom .policy-links .policy-list li {
    margin-right: 30px;
    position: relative
}

.footer-area .footer-bottom .policy-links .policy-list li a {
    font-weight: 500;
    font-size: 15px;
    color: #fff
}

.footer-area .footer-bottom .policy-links .policy-list li:last-child {
    margin-right: 0
}

.footer-area .footer-bottom .policy-links .policy-list li:last-child::before {
    position: absolute;
    content: "";
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #ff4838;
    height: 12px;
    width: 1px
}